*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  
}
body{
    height: 100%;
}

header{
    height: 10%;
    grid-area: header;
    background-color: yellow;
}

nav{
    height: 5%;
}

main{
    height: 80%;
    grid-area: main;
    background-color: blue;
    display: flex;
    flex-direction: column;
}


footer{
    clear: both;
    grid-area: footer;
    height: 5%;
    background-color: chartreuse;
}

/* nav */

nav ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* section left*/

.section_left{
    display: flex;
    flex: 1;
}

.section_left .text_setion{
    flex: 2;
    background-color: darkgreen;
}

.section_left .img_setion{
    flex: 1;
    background-color: magenta;
}

/* section right */

.section_right{
    display: flex;
    flex: 1;
}

.section_right .text_setion{
    flex: 2;
    background-color: darkgreen;
}

.section_right >.img_setion{
    flex: 1;
    background-color: magenta;
}

/* float  */
.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.group::before,
.group::after {
    content: "";
    display: table;
}

.group::after{
    clear: both;
}

.group {
    zoom: 1;
}