*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  
}
body{
    height: 100%;
    font-family: BrandonTextWeb-Regular,sans-serif;
    font-size: 18px;
    line-height: 25px;
    background: url("/AssignmentOne/images/background.jpg") repeat-y;
    color: #869ba9;
}

header{
    height: 10%;
    display: flex;
    background-color: cornflowerblue;
}

nav{
    height: 5%;
    display: flex;
    align-items: center;
}

main{
    height: 80%;
    grid-area: main;
    display: flex;
    flex-direction: column;
}


footer{
    clear: both;
    grid-area: footer;
    height: 5%;
}


/* header */

header h1{
    font-size: 531%;
    PADDING: 2%;
    MARGIN: auto 10%;
}

header .title{
    margin: 3%;
}

/* nav */

nav ul{
    text-decoration: none;
    display: flex;
    list-style: none;
}

nav li{
    align-items: stretch;
}

/* main */

main p{
    align-items: center;
}

main img{
    align-items: center;
    margin: 3%;
}
/* section left*/

.section_left{
    display: flex;
    flex: 1;
    align-items: center;

}

.section_left .text_setion{
    flex: 2;
}

.section_left .img_setion{
    flex: 1;
}

/* section right */

.section_right{
    display: flex;
    flex: 1;
    align-items: center;
}

.section_right .text_setion{
    flex: 2;
}

.section_right >.img_setion{
    flex: 1;
}

/* float  */
.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.group::before,
.group::after {
    content: "";
    display: table;
}

.group::after{
    clear: both;
}

.group {
    zoom: 1;
}